* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
    min-height: 100vh;
    background-color: #646262;
    background-image: url("img/oto_lofi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body::after {
    content: '';
    z-index: -1;
    opacity: .5;
    background: #000;
    position: absolute;
    inset: 0;
}

#container {
    width: 450px;
    height: 660px;
    background-color: rgba(0, 0, 0);
    padding: 60px 68px 40px;
    display: flex;
    flex-direction: column;
    border: 0;
    border-radius: 4px;
}

p {
    color: #ffffffff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

#email,
#password {
    background: #333;
    border: 1px solid #444;
    border-radius: 4px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 100%;
}

#button {
    background-color: #ed9121;
    border: 0;
    border-radius: 4px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
}

#button:hover {
    background-color: #8a4f07;
    cursor: pointer;
}